*, 
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; 
}

body {
  box-sizing: border-box;
}

.App {
  background-image: url(./style/images/backgroundImage.jpg);
  background-size: cover; 
  height: 100vh; 
  padding: 6rem 5rem; 
}

.gameContainer {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: aqua;
}

.player {
  position: absolute;
  background-color: white; 
  width: 50%; 
  height: 80vh; 
}

.dice {
  position: absolute;
  width: 8rem;
  height: 8rem;
}